<footer>
    <div class="container info">
        <div class="row">
            <div class="col-sm-4">
                <h4>{{ config.site.title }}</h4>
                <p>{{ theme.organization.description }}</p>
                <p><a class="scout-symbol" href="{{ theme.socials.facebook }}" target="_blank">«</a></p>
            </div>
            <div class="col-sm-4">
                <h4>Užitečné odkazy</h4>
                <ul>
                    {% for title, link in theme.socials.links %}
                        <li><a href="{{ link }}" target="_blank">{{ title }}</a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-4">
                <h4>Kontaktní informace</h4>
                <p>
                    {{ theme.organization.main_contact.name|raw }}<br/>
                    {{ theme.organization.main_contact.address|raw }}<br/>
                    {{ theme.organization.main_contact.country|raw }}
                </p>
                <p>
                    E-mail: <a href="mailto:{{ theme.organization.main_contact.email }}">{{ theme.organization.main_contact.email }}</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container copyright">
        <div class="row">
            <div class="col-sm-6 text-left">
                <p>
                    <a href="https://github.com/praserx/grav-theme-patron" target="_blank">Theme Patron</a> made by <a href="https://github.com/praserx" target="_blank">Praser</a>. Based on Grav CMS.<br />
                    &copy; {{ theme.settings.copyright }}
                </p>
            </div>
            <div class="col-sm-6 text-right">
                <p>{{ theme.settings.additional_page_info }}</p>
            </div>
        </div>
    </div>
</footer>