{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block content %}
    <!-- Header -->
    <header class="modular" style="background-image: url({{ (theme.modules.header.background | first).path }});">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 x">
                    <div class="ui menu">
                        {% include 'partials/navigation.html.twig' %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Organization name -->
        <div class="organization">
            <h1>{{ site.title }}</h1>
        </div>

        <!-- Organization logo -->
        <img class="main-logo" src="{{ (theme.modules.header.logo | first).path }}" />
    </header>

    <div class="container recruiting">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ page.header.text }}</h2>
                <p>
                    {% for link in page.header.buttons %}
                        <a class="btn {{ link.css }}" href="{{ link.url }}">{{ link.label }}</a>
                        {% if not loop.last %}
                            &nbsp;
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>

    <div class="container sponsors">
        <div class="row">
            <div class="col-sm-12">
                <img src="http://www.zlin.eu/clanky/aktuality/3332/zlin.jpg" />
            </div>
        </div>
    </div>

    <div class="container-fluid image-background stats">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    {% for stat in page.header.stats %}
                        {{ stat.count }} {{ stat.label }}
                        {% if not loop.last %}
                            &nbsp;<span style="font-family: Skaut; padding: 0px 15px;">¬</span>&nbsp;
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>

    {{ page.content }}
{% endblock %}
